<!DOCTYPE html>
<html>
<head>
    <title>Create Job</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="card">
    <h1>Create Job (Admin)</h1>

    <input id="title" placeholder="Job Title">
    <input id="department" placeholder="Department">
    <input id="location" placeholder="Location">
    <input id="vacancies" placeholder="Vacancies">
    <input id="created_by" placeholder="Admin User ID">

    <button onclick="createJob()">Create Job</button>

    <p id="msg"></p>
</div>

<script src="/static/js/app.js"></script>
<script>
async function createJob() {
    const data = {
        title: title.value,
        department: department.value,
        location: location.value,
        vacancies: parseInt(vacancies.value),
        created_by: parseInt(created_by.value)
    };

    const res = await postData("/admin/create-job", data);
    msg.innerText = res.message || res.error;
    msg.className = res.error ? "error" : "success";
}
</script>

</body>
</html>
